@media only screen and (min-width: 64em) {
  #hamBtn {
    display: none;
  }
  #headerNav {
    display: flex;
    justify-content: center;
  }
  #headerNav a {
    padding: 3.5em;
  }
  nav {
    padding: 0;
  }
  #normalContent {
    max-width: 64rem;
    margin: auto;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 0.4em;
    row-gap: 0.4em;
  } 
  /*********************REMOVE THIS********/
  #falseImg {
    display: flex;
    justify-content: center;
  }
  #falseImg img {
    max-width: 64rem;
  }
  /****************************************/
  #normalContent section:nth-of-type(1),
  #normalContent section:nth-of-type(2),
  #normalContent section:nth-of-type(3),
  #normalContent section:nth-of-type(4),
  #spot1,
  #spot2,
  #spot3,
  #join {
    margin: 0;
  }
  #normalContent section:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  #hero {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }
  #hero2 {
    display: grid;
  }
  #spot1 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  #normalContent section:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  #normalContent section:nth-of-type(4) h2 {
    padding-top: 2em;
  }
  #normalContent section:nth-of-type(4) p {
    padding-bottom: 5em;
  }
  #spot2 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
  #join {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    padding-top: 5em;
  }
  #join h2 {
    padding: 0.4em 2em;
    margin: auto;
  }
  #join p {
    padding-top: 5em;
  }
  #normalContent section:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }
  #spot3 {
    display: block;
    grid-column: 3 / 4;
    grid-row: 5 / 6;
  }
 #spot3 h2 {
   margin: 0;
 }
 /***************DISCOVER CSS*************/ 
 /****************************************/
  /***************JOIN CSS*****************/
  #joinContent {
    max-width: 70em;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  form, aside {
    width: 30em;
  }
  form h2 {
    padding-bottom: 0.4em;
  } 
  form {
    grid-row: 1 / 3;
  }
  aside {
    height: 90%;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }
  #levelsBelow {
    display: none;
  }
  #levelsSide {
    display: inline;
  }
  #joinImg {
    display: inline;
    width: 19.3em;
    margin: 0 auto;
  }
/*************DIRECTORY CSS*****************/
/*************GRID MODE CSS*****************/
  .shops[name='grid'] {
    max-width: 64rem;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
  }

/*************LIST MODE CSS*****************/
  .shops[name='lst'] {
    max-width: 64rem;
  }


} /**<--This bracket is VERY IMPORTANT!!! DO NOT IGNORE!!!*/