@media only screen and (min-width: 64em) {
  .limited {
    grid-template-columns: 1fr 2fr 6fr 1fr;
    margin: auto;
  }
  header h1, .slogan {
    margin-left: 0;
    text-align: left;
  }
  header #pic {
    margin-left: 1em;
  }
  .date {
    padding: 1%;
  }
  #hamBtn {
    display: none;
  }
  #headerNav {
    display: flex;
    justify-content: center;
  }
  #headerNav a {
    padding: 3.5em;
  }
  nav {
    padding: 0;
  }
/***************MAIN CSS****************/
/*#region Main*/
main {
  max-width: 64rem;
  margin: auto;
  padding: 2%;
}
#normalContent {
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 0.4em;
    row-gap: 0.4em;
  }  
  #normalContent section:nth-of-type(1),
  #normalContent section:nth-of-type(2),
  #normalContent section:nth-of-type(3),
  #normalContent section:nth-of-type(4),
  #spot1,
  #spot2,
  #spot3,
  #join {
    margin: 0;
  } 
  #events { 
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  #normalContent section:nth-of-type(1) {
    grid-column: 2 / 3 ;
    grid-row: 2 / 4;
  }
  /*DIV FOR HERO IMGS*/
  #hero {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
  }
  /*2nd HERO IMG*/
  #hero2 {
    display: block;
    margin-top: 0.4em;
  }
  #spot1 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  #normalContent section:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  #normalContent section:nth-of-type(4) h2 {
    padding-top: 2em;
  }
  #normalContent section:nth-of-type(4) p {
    padding-bottom: 5em;
  }
  #spot2 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  #join {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding-top: 5em;
  }
  #join h2 {
    padding: 0.4em 2em;
    margin: auto;
  }
  #join p {
    padding-top: 5em;
  }
  #normalContent section:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  #spot3 {
    display: grid;
    margin: 0.3%;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
 #spot3 h2 {
   margin: 0;
 }
 /*#endregion Main*/
/**************FOOTER CSS****************/
.max {
  grid-template-columns: 1fr 1fr 60% 1fr;
  max-width: 64rem;
  margin: auto;
}
 /***************DISCOVER CSS*************/ 
/****************************************/
/***************JOIN CSS*****************/
/*#region Join*/
  #joinH1 {
    margin-top: 1em;
  }
  #joinContent {
    max-width: 70em;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  form, aside {
    width: 30em;
  }
  form h2 {
    padding-bottom: 0.4em;
  } 
  form {
    grid-row: 1 / 3;
  }
  aside {
    height: 90%;
    grid-row: 1 / 2;
    margin-bottom: 0;
  }
  #levelsBelow {
    display: none;
  }
  #levelsSide {
    display: inline;
  }
  #joinImg {
    display: inline;
    width: 19.3em;
    margin: 0 auto;
  }
/*#endregion Join*/
/*************DIRECTORY CSS*****************/
/*#region Directory*/
/*************GRID MODE CSS*****************/
  .grid {
    max-width: 64rem;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid section:nth-child(3) p, .grid section:nth-child(3) a {
    line-height: 0;
  }
  .grid section:nth-child(3) h2 {
    margin: 0;
  }
/*************LIST MODE CSS*****************/
  .lst {
    max-width: 64rem;
    margin: auto;
  }
/*#endregion Directory*/


} /**<--This bracket is VERY IMPORTANT!!! DO NOT IGNORE!!!*/