@media only screen and (min-width: 64em) {
  header,
  main,
  footer {
    max-width: 64rem;
    margin: auto;
  }
  #headerNav {
    display: flex;
  }
  #hamBtn {
    display: none;
  }
  nav {
    padding: 0;
  }
  nav ul li {
    padding: 0.3em 0;
    width: 15%;
  }
  nav ul li a {
    padding: 0 2em;
  }
  main h1 {
    margin: 2%;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 15% 1fr 1fr 1fr 2em;
    column-gap: 0.3em;
    row-gap: 0.5em;
  }
  main p:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }
  main p:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  main p:nth-last-of-type(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  main p:nth-last-of-type(4) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
  main p:nth-last-of-type(5) {
    grid-column: 1 / 2;
    grid-row: 3/ 4;
  }
  main p:nth-of-type(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  #join {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin: 1.3%;
  }
}
