@media only screen and (min-width: 32.5em){
/*#region Header*/
.limited {
  grid-template-columns: 1fr 2fr 1fr 100px 1fr;
} 
header h1 {
  margin-left: 0;
  grid-column: 2 / 4;
}
#social {
  grid-column: 5 / 6;
}
#msg {
    padding: 0.5em;
  }
div#pic {
  padding: 0.5em;
  margin-left: 1em;
  grid-column: 1 / 2;
}
/*#endregion Header*/
/*****************MAIN CSS******************/
/*#region Main*/
  #normalContent {
    display: grid;
    column-gap: 2%;
  }
  #heroP, #spot1 h2, #spot2 h2, #spot3 h2 {
    margin: 0;
  }
  #spot1 div, #spot2 div, #spot3 div {
    padding: 1em;
  }
  #normalContent section:nth-of-type(1) {
    grid-column: 1 / 3;
  }
  #normalContent section:nth-of-type(4) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  #spot1 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin: 0.3%;
  }
  #spot2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin: 0.3%;
  }
  #join {
    display: block;
    grid-column: 1 / 3;
    grid-row: 5 / 6;  
    margin: 2% 0.3%;
    padding: 1em;
  }
  #join h2 {
    background-color: #65e77f;
    color: #000;
    border-radius: 10px;
    padding: 0.2em 8em;
    text-align: center;
  }
  #join p {
    text-align: center;
    padding-top: 1.5em;
  }
  /* #normalContent section:nth-of-type(2),*/ 
  #normalContent section:nth-of-type(3) { 
    grid-row: 6 / 7;
    margin: 1%;
  }
/*#endregion Main*/
/***************Footer CSS******************/
/*#region Footer*/
.max {
  grid-template-columns: 1fr 1fr 2fr 1fr;
}
footer p:nth-of-type(1) {
  padding-top: 1em;
  text-align: left;
  grid-column: 2 / 4;
}
footer p:nth-of-type(2) {
  grid-column: 4 / 5;
}
#lastMod {
  text-align: center;
  grid-column: 1 / 5;
}
/*#endregion Footer*/
/**************DISCOVER CSS*****************/
/*#region Discover*/
  #discoverP {
    max-width: 700px;
    margin: 2em auto;
  }
  #discoverCards {
    max-width: 700px;
    margin: auto;
  }
  #discoverCards article:hover {
    border: 5.0px solid #65e77f;
  }
/*#endregion Discover*/
/***************JOIN CSS********************/
/*#region Join*/
  #joinH1 {
    margin: 0 auto;
    text-align: center;
  }
  form h2 {
    margin: 0;
  }
  form, aside {
    max-width: 50em;
    margin: 2em auto;  
  }
/********************THANKS CSS******************/
  #thankYou  {
    width: 25em;
    margin: 5% auto 7%;
  }
  #thankYou p, #thankYou button:nth-of-type(1) {
    margin-bottom: 1%;
  }
  #thankYou button {
    margin-left: 1%;
  }
/*#endregion Join*/
/**************DIRECTORY CSS****************/
/*#region Directory*/
/*****************GRID MODE CSS****************/
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid section {
    margin: 0.5%;
  }
  .grid section:nth-child(1) {
    grid-column: 1 / 2;
  }
  .grid section:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .grid section:nth-child(3) {
    grid-row: 2 / 3; 
  }
  .grid section:nth-child(4) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
/****************LIST MODE CSS***************/
  .lst section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  /*#endregion Directory*/
/***************CONTACT CSS*****************/
/*#region Contact*/
  .contactContent {
    display: grid;
    grid-template-rows: 5em 30% 1fr;
    column-gap: 1em;
  }
  .ccContact {
    grid-row: 2 / 3;
  }
  .contactPoints {
    grid-row: 2 / 4;
    height: 95.5%;
  }
  .qForm {
    grid-row: 3 / 4;
    width: 100%;
  }
/*#endregion Contact*/

} /*<-----VERY VERY VERY IMPORTANT!!!