body {
  margin: 0;
  padding: 0;
}
main {
  max-width: 600px;
  margin: auto;
}
h1 {
  color: #007a54;
  width: 100%;
  text-align: center;
  margin-bottom: 1.2em;
}
img {
  width: 100%;
  height: auto;
  filter: blur(0em);
  transition: filter 2.5s;
}
img[data-src] {
  filter: blur(0.2em)
}
